body {
	color           : white;
	background-color: rgb(255, 255, 255);
	font-family     : "Fira Code";
	font-size       : 12px;
	margin          : 0px;
}

.comment {
	background-color: lightgray;
	border: solid 1px #aaa;
	border-radius: 6px;
	color:#112;
}

.white {
	background-color: rgb(255, 255, 255);
}
.red {
	background-color: rgb(255, 0, 0);
}
.green {
	background-color: rgb(0, 255, 0);
}
.blue {
	background-color: rgb(0, 0, 255);
}
.yellow {
	background-color: rgb(255, 255, 0);
}
.pink {
	background-color: rgb(255, 0, 255);
}
.sky {
	background-color: rgb(0, 255, 255);
}
.black {
	background-color: rgb(0, 0, 0);
}
.red50 {
	background-color: rgba(255, 0, 0,0.5);
}
.white50 {
	background-color: rgba(255, 255, 255,0.5);
}
.white40 {
	background-color: rgba(255, 255, 255,0.4);
}
.green50 {
	background-color: rgba(0, 255, 0,0.5);
}
.blue50 {
	background-color: rgba(0, 0, 255,0.5);
}
.yellow50 {
	background-color: rgba(255, 255, 0,0.5);
}
.pink50 {
	background-color: rgba(255, 0, 255,0.5);
}
.sky50 {
	background-color: rgba(0, 255, 255,0.5);
}
.black50 {
	background-color: rgba(0, 0, 0,0.5);
}
.gray50 {
	background-color: rgba(200, 200, 200,0.5);
}



.op50 {
	opacity: 0.5;
}

div {
	height         : 128px;
	width          : 128px;
	position       : absolute;
	border-radius  : 12px;
	display        : flex;
	align-items    : center;
	justify-content: center;
}



#a1 {
	z-index : 4;
	position: absolute;
}

#a2 {
	z-index: 2;
	top    : 96px;
}

#a3 {
	z-index: 1;
	left   : 96px;
}

#a4 {
	z-index: 3;
	top    : 96px;
	left   : 96px;
}

#b1 {
	z-index: 4;
	left   : 300px;
}

#b2 {
	z-index: 2;
	left   : 396px;
}

#b3 {
	z-index: 1;
	top    : 96px;
	left   : 300px;
}

#b4 {
	z-index: 3;
	top    : 96px;
	left   : 396px;
}

#c1 {
	z-index: 4;
	top    : 300px;

}

#c2 {
	z-index: 2;
	top    : 396px;

}

#c3 {
	z-index: 1;
	top    : 300px;
	left   : 96px;
}

#c4 {
	z-index: 3;
	top    : 396px;
	left   : 96px;
}

#d1 {
	z-index: 4;
	left   : 300px;
	top    : 300px
}

#d2 {
	z-index: 2;
	left   : 396px;
	top    : 300px;
}

#d3 {
	z-index: 1;
	top    : 396px;
	left   : 300px;
}

#d4 {
	z-index: 3;
	top    : 396px;
	left   : 396px;
}